= simple_form_for [current_user, @task], html: { multipart: true } do |f|
  .row
    .col-sm-6
      = f.input :name
    .col-sm-6
      = f.input :state, as: :select, collection: Task.aasm.states_for_select, include_blank: false
  .row
    .col-sm-12
      = f.input :description
  .row
    .col-sm-6
      = f.input :file
    .col-sm-6
      - if current_user.admin?
        = f.association :user, include_blank: false
      - else
        = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
  - if @task.file?
    .form-group.row
      .col-sm-12
        = link_or_image(@task)
  .form-actions
    = link_to 'Отмена', :back, class:'btn btn-default'
    =f.button :submit, 'Сохранить', class:'btn btn-success'