.page-header
  %h1 Мои задачи
  %small= link_to 'Новая задача', new_user_task_path(current_user), class: 'btn btn-success p'

%table.table
  %thead
    %tr
      %th #
      %th Название
      %th Описание
      %th Статус
      %th Создана
      - if current_user.admin?
        %th
          Назначена
      %th
  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.id
        %td= link_to task.name, user_task_path(current_user, task)
        %td= task.description
        %td
          - if current_user.admin?
            = form_tag state_user_task_path(current_user, task), method: :post do
              = select_tag :state, options_for_select(Task.aasm.states_for_select, task.state),
                          class: 'state_list', :onchange => "this.form.submit()"
          - else
            = task.state
        %td= task.created_at.to_s(:db)
        - if current_user.admin?
          %td= task.user.email
        %td
          -if policy(task).update?
            = link_to edit_user_task_path(current_user, task), title: 'Редактировать' do
              %i.fa.fa-pencil.fa-1g
          &nbsp;
          -if policy(task).destroy?
            = link_to user_task_path(current_user, task), method: :delete, title: 'Удалить',
                      data: { confirm: 'Удалить задачу?' } do
              %i.fa.fa-close.fa-1g
  :javascript
    $(function () {
      $('.state_list').on('change', function(){
        $('.state_list').submit()
      });
    });
